
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height:100vh;
    margin:0px;
    padding:0px;
    background-color: rgb(131, 39, 2);
}

#img-nav{
 width: 100vw;
 display: flex;
 flex-direction: row;
}
#initial-list{
    background-color: rgb(133, 73, 63);
    width: 100%;
    height:30vh;
    display: flex;
    position: relative;
    justify-content: center;

}
.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#cityForm{
    display: flex;
    position: relative;
    justify-content: center;
}
#submit, #citySearch{
    height:25px;
    position: relative;
    top:35%;
    right:240px;
    margin:10px;
  
  
}
.beer-item{
    height: 80%;
    width: 80%;
    margin:15px;
    display: flex;
    justify-content: space-evenly;


}
#all-Breweries{
    background-color: rgb(236, 192, 154);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#brewList{
    position: relative;
    left:40%;
    display: flex;
    flex-direction: row;

}
#beer-image, #stickmen , #sunriver {
    height:inherit ;
    width: inherit;
    background-size: cover;
}   
.card{
    height: 38px;
    width: 100%;
    margin:0px 6px;
    display: flex;
    flex-direction: row;
    margin:6px;
}
#buttons{
    background-color: cadetblue;
    padding:5px;
}
#next, #previous{
    position: relative;
    left:48%
}
.visiting{
    position: relative;
    left:55px;
}
#moreSearched{
    position: relative;
    left:45%;
   
}

