
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height:100vh;
    margin:2px;
    padding:0px;
    background-color: rgb(131, 39, 2);
}
header{
    background-color: rgb(163, 163, 52);
  width: 100vw;
    height: 370px;
    display: flex;
    justify-content: space-around;

}
#img-nav{
 width: 100vw;
 display: flex;
 flex-direction: row;
}
#initial-list{
    background-color: rgb(133, 73, 63);
    width: 100%;
    height:30vh;
    display: flex;
    position: relative;
    justify-content: center;

}
#submit, #citySearch{
    height:25px;
    position: relative;
    top:35%;
    right:300px;
}
.beer-item{
    height: 80%;
    width: 80%;
    margin:5px;

}
#all-Breweries{
    background-color: rgb(236, 192, 154);
    width: 100%;
    height: 920px;
}
#brewList{
    position: relative;
    left:40%;
    display: flex;
    flex-direction: row;

}
#beer-image, #stickmen , #sunriver {
    height:inherit ;
    width: inherit;
    background-size: cover;
}   
.card{
    height: 38px;
    width: 100%;
    margin:0px 6px;
    display: flex;
    flex-direction: row;
    margin:6px;
}
#buttons{
    background-color: cadetblue;
}
#next, #previous{
    position: relative;
    left:48%
}
.visiting{
    position: relative;
    left:55px;
}